@charset "utf-8";

#content {
    margin-left: auto;  //widthの余りが左側のマージンになる
    // width: 100%;
    width: calc(100% - 200px);  //ウィンドウ幅からヘッダーの200pxを引く
    // height: 1232px;  //boxの高さと間隔の合計が1232pxになるようにする。
    background-color: $bg_color_03;
    position: relative;
    .content__inner {
        margin: 120px 0 139px 22.222%;  //position:absoluteをやめたのでマージンを追加
        width: 66.574%;
        // height: 973px;   //boxの高さと間隔の合計が973pxになるようにする。
        // position: absolute;
        // top: 120px;
        right: $content_margin_right;
        align-items: center;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        &__box {
            margin-top: 20px;
            width: 100%;
            height: 311px;
            position: relative;
            .portrait {
                width: 33.38%;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%);
                z-index: 5;
                border-radius: 50%;
                background-color: $bg_color_02;
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                    color: $f_color_05;
                    font-size: $portrait_size;
                }
            }
            .portrait:before{
                content: "";
                display: block;
                padding-top: 100%;
            }
            &__inner {
                margin: 33px 0 0 23.505%;
                width: 72.322%;
                // height: 254px;
                // position: absolute;
                // top: 10.61%;
                // right: 4.172%;
                // z-index: 5;
                display: flex;
                flex-direction: column;
                .label {
                   font-size: $label_f_size;
                   color: $f_color_03; 
                }
                .title {
                    margin-top: 29px;
                }
                button {
                    margin-top: 49px;
                    margin-left: auto;
                    // position: absolute;
                    // right: 0;
                    // bottom: 0;
                    // z-index: 10;

                }
            }
        }
        &__box:first-child {
            margin-top: 0;
        }
    }
}

.box_01 {
    background-color: $bg_color_04;
}
.box_02 {
    background-color: $bg_color_05;
}
.box_03 {
    background-color: $bg_color_06;
}