footer {
    margin-left: auto; 
    width: calc(100% - 200px);
    // width: 100%;
    height: 70px;
    position: relative;
    background-color: $bg_color_03;
    line-height: 70px;
    display: flex;
    background-color: $bg_color_01;
    h1{
        margin-left: 4.63%;
    }
    .menu {
        margin-left: 21.852%;
        // width: 43.611%;
        // height: 100%;
        // position: absolute;
        // top: 0;
        // left: 50%;
        // transform: translate(-50%, 0%);
        // z-index: 10;
        display: flex;
        // justify-content: space-between;
        li {
            margin-left: 40px;
        }
        li:first-child {
            margin-left: 0;
        }
        
    }
    .top_btn {
        width: $content_margin_right;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 8;
        background-color: $bg_color_07;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            align-items: center;
            z-index: 10;
            font-size: $top_btn_f_size;
            color: $f_color_01;
        }
    }
}
