@charset "utf-8";

header {
    width: $header_width;
    height: 100vh;
    position: relative;
    background-color: $bg_color_01;
    z-index: 10;
    .header__inner {
        height: 171px;
        position: absolute;
        top: 41px;
        left: 20.5%;
        display: flex;
        flex-direction: column;
        .menu {
            height: 126px;
            margin-top: 36px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
    }
    .sns_link {
        width: 42%;
        min-width: 60px;
        position: absolute;
        bottom: 50px;
        left: 28%;
        display: flex;
        justify-content: space-between;
        font-size: $sns_f_size;
        color: $f_color_01;
    }
}